<div class="vc-swatches">
  <div class="vc-swatches-box">
    <div class="vc-swatches-color-group" *ngFor="let group of palette;index as index;">
      <div class="vc-swatches-color-it" [class.vc-swatches-color--white]="c === '#FFFFFF'" *ngFor="let c of group" [style.background]="c"
        (click)="handlerClick(c)">
        <div class="vc-swatches-pick" *ngIf="c.toLowerCase() === hex">
          <svg style="width: 24px; height:24px;" viewBox="0 0 24 24">
            <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
